.cam {
    margin-left: 750px;
    margin-top: -180px;
}

.bot1 {
    font-size: 85px;
    margin-left: 210px;
    margin-top: 30px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #4f9;
}

.bot2 {
    font-size: 85px;
    margin-top: -280px;
    margin-left: 90px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #1DD7FD;
}

.bot3 {
    font-size: 85px;
    margin-top: -315px;
    margin-left: 335px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #fc1abb
}

.bot4 {
    font-size: 85px;
    margin-top: 20px;
    margin-left: 210px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #FADA2B;
}

.bot5 {
    font-size: 85px;
    margin-left: 750px;
    margin-top: -595px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #15E6CC;
}

.bot6 {
    font-size: 85px;
    margin-left: 740px;
    margin-top: -310px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #C501E2;
}

.bot7 {
    font-size: 85px;
    margin-left: 600px;
    margin-top: -355px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #FF6A62;
}

.bot8 {
    font-size: 85px;
    margin-left: 905px;
    margin-top: -390px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #C6E602;
}

.bot9 {
    font-size: 85px;
    margin-left: 600px;
    margin-top: -555px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #2B97FA;
}

.bot10 {
    font-size: 85px;
    margin-left: 900px;
    margin-top: -755px;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #2EF8A0
}